<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<head th:replace="fragments/head.html(pageTitle = 'Customer Page - iWish-->
<!--🎁')">-->
<head th:replace="fragments/head.html(pageTitle = 'Customer Page - iWish 🎁')">
</head>
<header th:replace="fragments/header.html"> </header>
<body>


<h1>Customer page</h1>
<h2>Welcome</h2>
<p th:text="${session.user.email}" th:unless="${session == null}">[...]</p>
<p th:text="${session.user.password}" th:unless="${session == null}">[...]</p>


<td>
    <form name="wishlist" action="/AddToWishList" method="POST">
        <label for="name">Name of item:</label><br>
        <input type="text" id="name" name="name" placeholder="type name of item here"><br>
        <br>
        <label for="description">Description:</label><br>
        <input id="description" name="description" placeholder="type here"/>
        <br> <input type="submit" value="Add Item"/>

    </form>
</td>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${session.items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price}"></td>
    </tr>
    </tbody>
</table>

<h3>If you need inspiration</h3>
<ul>
    <li><a href="https://www.radbag.dk/gaver-til-ham?gclid=Cj0KCQjwyN-DBhCDARIsAFOELTkibMsbJBj_k8Hxk1hi6ggX6SbvW9mBe4WAqLzHii8FizGbT6ijqtcaAuuCEALw_wcB/"target="_blank">Visit Radbag.dk! - Gaver til mænd</a></li>
</ul>


<p>Date/Time: <span id="datetime"></span></p>
<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear()) + " " + (("0" + dt.getHours()).slice(-2)) + ":" + (("0" + dt.getMinutes()).slice(-2));
</script>

<span th:text="${error}"></span>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>