<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer page</title>
</head>
<body>
<h1>Customer page</h1>
<h2>Welcome</h2>
<p th:text="${session.user.email}" th:unless="${session == null}">[...]</p>
<p th:text="${session.user.password}" th:unless="${session == null}">[...]</p>




<div>
    <form action="action"></form>
    <label for="listname">Name of your Wishlist:</label><br>
    <input type="text" id="listname" name="fname" placeholder="type here"><br>
    <br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" cols="40" rows="2" placeholder="type here"></textarea>
</div>
<br>


<div>
    <form action="createwishlist" method="get">
<!--        <textarea name="noteparam" cols="40" rows="2"></textarea>-->

        <br> <input type="submit" value="Create Wishlist"/>
    </form>

</div>







<p>Date/Time: <span id="datetime"></span></p>
<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
</script>

<span th:text="${error}"></span>
</body>
</html>