<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="styling/styling.css">
    <meta charset="UTF-8">
    <title>Landing page</title>

</head>
<header th:replace="fragments/header.html"> </header>
<body>
<br>
<br>
<br>
<br>

<h1>Welcome to iWish!</h1>


<!--<img class="logo" src="../static/images/iwishlogo2.png" alt="logo" width="300" height="270"-->
<!--     th:src="@{images/iwishlogo2.png}">-->

<table>
    <tr><td>Login</td>
        <td>
            <form name="home" action="/home" method="POST">
                Email:<br>
                <input type="text" name="email" value="someone@nowhere.com">
                <br>
                Password:<br>
                <input type="password" name="password" value="sesam">
                <br>
                <input type="submit" value="Submit">
            </form>
        </td>
        <td>Or Register</td>
        <td>
            <form name="register" action="/register" method="POST">
                Email:<br>
                <input type="text" name="email" value="someone@nowhere.com">
                <br>
                Password:<br>
                <input type="password" name="password1" value="sesam">
                <br>
                Retype Password:<br>
                <input type="password" name="password2" value="sesam">
                <br>
                <input type="submit" value="Submit">
            </form>
        </td>
    </tr>
</table>
</body>
</html>