<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="styling/styling.css">
    <meta charset="UTF-8">
    <title>Welcome to iWish 🎁</title>
</head>

<body>
<header th:replace="fragments/header.html"></header>
<main>
    <h1>Welcome to iWish!</h1>

    <table>
        <tr>
            <td>Login</td>
            <td>
                <form class="login" name="home" action="/home" method="POST">
                    <label for="email"> Email:</label>
                    <br>
                    <input type="email" id="email" name="email" placeholder="youremail@example.com">
                    <br>
                    <label for="password"></label>Password:<br>
                    <input type="password" required id="password" name="password"  placeholder="*****">
                    <br>
                    <input type="submit" value="Login">
                </form>
            </td>
            <td>Or Register</td>
            <td>
                <form class="register" name="register" action="/register" method="POST">
                    <label for="email">Email:</label><br>
                    <input type="email" name="email" placeholder="youremail@example.com">
                    <br>
                    <label for="password"></label>Password:<br>
                    <input type="password" required name="password1" placeholder="*****">
                    <br>
                    <label for="password"></label>Retype Password:<br>
                    <input type="password" required name="password2" placeholder="*****">
                    <br>
                    <input type="submit" value="Register">
<!--                    Make as botton instead=? -->
                </form>
            </td>
        </tr>
    </table>
</main>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>