body {
    background-color: white;
}

td {
    color: #282828;
    font-weight: bold;
    border: 2px solid #285050;
    border-radius: 8px;


}
h1 {
    font-family: "JetBrains Mono ExtraBold";
    color:  #285050;
    font-weight: bolder;
}
p{
    font-family: "JetBrains Mono ExtraBold";
    color:  #285050;
    font-weight: bolder;
}
.navbar {
    overflow: hidden;
    background-color: #285050;
    /*position: fixed; !* Set the navbar to fixed position *!*/
    padding: 1em;
    top: 5px; /* Position the navbar at the top of the page */
    width: 99.2%; /* Full width */
    margin-top: auto;
}

.Section2{
    color:  #285050;
}

h3{
    color:  #285050;
}
#Inspiration{
    background-color: #a8a8a8;
    box-sizing: content-box;
    width: 700px;
    height: 80px;
    padding: 20px;
    border: 2px solid midnightblue;
    border-radius: 8px;

}

#Discount{
    background-color: #a8a8a8;
    box-sizing: content-box;
    width: 700px;
    height: 80px;
    padding: 20px;
    border: 2px solid midnightblue;
    border-radius: 8px;

    /*border: 8px solid #dbf450;*/
}

.navbar a:hover {
    background: #ddd;
    color: black;
    border-radius: 8px;

}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #dbf450;
    text-align: center;
    border-radius: 8px;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    background-color: #6f6e6e;
    padding: 10px;
    text-align: left;
    color: #dbf450;
}

.logout{
    float: right;
    display: block;
    color: #dbf450;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
}